@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    background-color: azure;
}

.navbar {
    border: 2px solid black;
}
.header {
    border: 2px solid black;
    padding: 10px;
    background-color: bisque;   
    font-family: 'Maven Pro', sans-serif;
    padding-top: 100px;
}

.row {
    padding-top: 20px;
    padding: 20px;
}

ul {
    justify-content: flex-end;
    
}

footer {
    font-family: 'Maven Pro', sans-serif;
    border-top: 2px solid black;
}

.navbar {
    height: 100px;
    font-family: 'Maven Pro', sans-serif;
}

.capsule {
    height: 80px;
    width: 80px;
}

.jumbotron {
   background-image: url(/img/bridge.jpg);
   background-size: cover;
   height: 800px;
   background-position: center;
   font-family: 'Oswald', sans-serif;
}

nav a:visited{
    color: red;
}
nav a:hover{
    background-color:lightskyblue;
}
nav a:active{
    background-color: lavender;
}
